main.photo-gallery {
	.overlay {
		width: 100vw;
		height: 100vh;
		position: fixed;
		background-color: $primary-color;
		opacity: 0.8;
		z-index: 1;
		display: none;
	}

	.photo-full-view-container {
		position: fixed;
		z-index: 2;
		display: none;
		left: 50%;
		top: 50%;
		text-align: center;
		color: white;
		@include transform(translate(-50%, -50%));

		> img {
			border: 5px solid white;
			max-height: 550px;
		}

		> .photo-title {
			text-transform: none;
			margin: $spacing-md 0;
		}

		> i {
			font-size: 30px;
			cursor: pointer;

			&:hover {
				color: #ED1C24;
			}
		}
	}
}

section.landing {
	height: 100vh;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-attachment: fixed;
	@include bg-img("./assets/images/rose.jpg");

	> div {
		color: white;
		text-align: center;
		padding: 100px;
		background-color: rgba(0, 0, 0, 0.6);
		@include respond-to($screen-xs) {
			padding: 50px;
		};

		h1 {
			margin-bottom: $spacing-md;
		}
	}
}

section.gallery {
	height: auto;
	background-color: black;
	padding: $spacing-xl 0;

	.btn-group {
		color: white;
		text-align: center;
		margin-bottom: $spacing-lg;
		display: block;
		> span {
			padding: $spacing-sm;
			cursor: pointer;

			&:hover, &.active {
				color: $accent-color;
			}
		}
	}

	article.element-item {
		padding: 15px;

		&.saved {
			.photo-preview-container {
				.banner {
					bottom: 0;

					.love-btn {
						color: #ED1C24;
					}
				}
			}
		}

		.photo-preview-container {
			height: 250px;
			position: relative;
			overflow: hidden;
			border: 5px solid white;

			&:hover {
				.banner {
					bottom: 0;
				}
			}

			.photo-preview {
				height: 100%;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				@include bg-img();
			}

			.banner {
				width: 100%;
				color: white;
				padding: 10px 15px;
				background-color: rgba(0, 0, 0, 0.6);
				transition: all 0.3s ease-in-out;
				@include abs-pos(auto, auto, -40px);

				.love-btn {
					float: right;
					cursor: pointer;

					&:hover {
						color: #ED1C24;
					}
				}
			}
		}
	}

	.download-btn {
		margin: $spacing-lg auto 0;
		padding: $spacing-md $spacing-lg;
		display: block;
		color: white;
		background-color: black;
		border: 1px solid white;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		display: none;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
