main.single-project > .project-title {
	color: white;
	position: fixed;
	top: $spacing-lg;
	left: $spacing-lg;
	z-index: 1;

	@include respond-to($screen-md) {
		left: 50%;
		@include transform(translateX(-50%));
	};
}

#fullpage {
	.section {
		overflow: hidden;

		// General style
		.slide-content {
			color: white;

			> h4 {
				color: $accent-color;
				margin-bottom: 20px;
			}
		}

		// On active slide enter animation
		&.active {
			// Slide one active
			&:nth-child(1) {
				.image-group {
					margin-top: 0;

					img:hover {
						margin-top: -30%;
						@include respond-to($screen-md) {
							margin-top: -50%;
						};
					}
				}
			}

			// Slide two active
			&:nth-child(2) {
				.image-group {
					img:nth-child(1) {
						margin-top: 0;
						margin-left: 0;
					}
				}
			}
			// Slide three active
			&:nth-child(3) {
				.image-group {
					img:nth-child(1) {
						left: 0;
					}
					img:nth-child(2) {
						left: 100px;
					}
					img:nth-child(3) {
						left: 200px;
					}
					img:nth-child(4) {
						left: 300px;
					}
				}
			}
		}

		.fp-tableCell {
			display: block;
		}

		// Specific slide style
		// Slide one inactive
		&:nth-child(1) {

			.fp-tableCell {
				text-align: center;
			}

			.slide-content {
				width: 50%;
				margin: 0 25% 80px 25%;
				padding-top: 50px;

				@include respond-to($screen-sm) {
					width: 80%;
					margin: 0 10% 40px 10%;
					padding-top: 0px;
				};
			}

			.image-group {
				position: relative;
				display: table;
				margin: 0 auto;
				margin-top: 500px;
				transition: all 0.8s ease-in-out;

				img {
					display: block;
					width: 280px;
					height: auto;
					margin: $spacing-sm;
					float: left;
					transition: $transition;
				}

				img:nth-child(2) {
					@include respond-to(680px) {
						display: none;
					};
				}

				img:nth-child(3) {
					@include respond-to(1020px) {
						display: none;
					};
				}
			}
		}

		// Slide two inactive
		&:nth-child(2) {
			.slide-content {
				margin-top: 150px;
				width: 80;
				border-left: 5px solid $accent-color;
				padding-left: $spacing-md;

				@include respond-to($screen-sm) {
					margin: 0 10% $spacing-lg 10%;
				};

				h4 {
					color: $accent-color;
				}
			}

			.image-group {
				margin-left: 200px;

				img:nth-child(1) {
					width: 450px;
					margin-top: 600px;
					margin-left: 600px;
					transition: all 1s ease-in-out;
					@include transform(rotate(-45deg));
					@include respond-to($screen-sm) {
						width: 280px;
					};
				}
			}
		}

		// Slide three inactive
		&:nth-child(3) {
			.slide-content {
				margin: 100px $spacing-md auto $spacing-md;
				padding-left: $spacing-md;
				border-left: 5px solid $accent-color;
				@include respond-to(1250px) {
					margin-top: 0;
				};

				h4 {
					color: $accent-color;
				}
			}

			.image-group {
				position: absolute;
				margin-left: -100px;;
				@media screen and (min-width: 1200px) {
					&:hover {
						img {
							&:nth-child(2) {
								left: 300px;
							}
							&:nth-child(3) {
								left: 600px;
							}
							&:nth-child(4) {
								left: 900px;
							}
						}
					}
				}
				@include respond-to($screen-lg) {
					margin-top: 250px;
					left: 35%;
				};
				@include respond-to($screen-md) {
					margin-top: 280px;
					left: 25%;
				};
				@include respond-to($screen-sm) {
					left: 50%;
					margin-left: -140px;
				};

				img {
					width: 280px;
					height: auto;
					transition: all 0.8s ease-in-out;
					position: absolute;
					z-index: 1;

					&:nth-child(1) {
						left: -500px;
					}
					&:nth-child(2) {
						left: -600px;
						@include respond-to($screen-sm) {
							display: none;
						};
					}
					&:nth-child(3) {
						left: -700px;
						@include respond-to($screen-sm) {
							display: none;
						};
					}
					&:nth-child(4) {
						left: -800px;
						@include respond-to($screen-sm) {
							display: none;
						};
					}
				}
			}
		}
	}
}
