main.thank-you {
	height: 100vh;
	background-color: $primary-color;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 $spacing-md;

	> h1 {
		font-size: 130px;
		@include respond-to($screen-md) {
			font-size: 120px;
		};
		@include respond-to($screen-sm) {
			font-size: 55px;
		};
	}

	> a {
		color: white;
		display: inline-block;
		border: 1px solid white;
		padding: $spacing-md $spacing-lg;
		margin-top: $spacing-lg;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
