// Typography
$body-font-family: "roboto", sans-serif;
$title-font-family: "ubuntu", sans-serif;
$body-font-size: 18px;
$body-font-color: black;

// Breakpoints
$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1199px;

// Spacing
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;
$spacing-xl: 80px;

// Colors
$primary-color: black;
$accent-color: #0082E5;

// Animation
$transition: all 0.5s ease-in-out;
