@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("./assets/bower_components/ubuntu/AW1e_taO6pHwMXcXW5w.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./assets/bower_components/roboto/GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype");
}
